* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox-container {
  list-style-type: none;
  border-radius: 4px;
  border: 2px solid black;
  width: 304px;
  height: 200px;
  padding: 5px;

  display: flex;
  gap: 5px;
  /* flex-wrap: wrap; */
  align-items: start;
  justify-content: space-around;
}

.item {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid red;
  order: 2;
}

/* .item-1 { 
  flex-shrink: 1;
}

.item-2 {
  flex-shrink: 2;
}

.item-3 {
  flex-shrink: 3;
} */

/* .item-1,
.item-2 {
  flex-basis: 50%;
} */

.item-4 {
  background-color: orange;
  order: 0;
}

ul {
}
